h1{
    color: red ;
}

.about {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

p {
    font-size: larger;
}

.faq {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-align: left;
    margin-left: 1%;
}

.faq li {
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-position: inside;
    margin-left: 1%;
    /* list-style: none; */
    font-size: 20px;
}

body {
    background-image: url("wallpaper.jpg");
  }